<mat-toolbar color="primary">


    <span href="/">RateMyMusic</span>
    <span class="example-spacer"></span>
    <div class="routes">
      <button mat-flat-button color = "primary"  class="header-button" (click)="navigate('musician')">
        Musician 
      </button>
    <button mat-flat-button color = "primary" class="header-button" (click)="navigate('song')">
      Songs 
    </button>
    <button mat-flat-button color = "primary" class="header-button" (click)="navigate('album')">
      Albums 
    </button>
    <button mat-flat-button color = "primary" class="header-button" (click)="logout()" *ngIf="loggedIn">logout
    </button>
    <button mat-flat-button color = "primary" class="header-button" (click)="logout()" *ngIf="!loggedIn">
      login
    </button>
  </div>
</mat-toolbar>