.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: #1e90ff;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }

  .ratings{
    display:flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }