<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type ="password" formControlName="password" />
      </mat-form-field>

      <button
      mat-flat-button
      class="lgn-button"
      color="primary"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
</form>
