<form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Album Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    
      <!-- <mat-form-field appearance="outline">
          <mat-label>Musician</mat-label>
          <input type="text"
          matInput
          formControlName="musician_id"
          [matAutocomplete]="auto">

          <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
            <mat-option *ngFor="let musician of filteredMusicians | async" [value]="musician.id">
              <span>{{musician.musician_name}}</span> |
              <small>ID: {{musician.id}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
  
            
      <mat-form-field appearance="outline">
          <mat-label>Musician</mat-label>
          <input type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">

          <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
            <mat-option *ngFor="let musician of filteredMusicians | async" [value]="musician">
              <span>{{musician.musician_name}}</span> |
              <small>ID: {{musician.id}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button
        mat-flat-button
        class="lgn-button"
        color="primary"
        [disabled]="!form.valid"
      >
        Submit
      </button>
  </form>